.background-contacto {
  background: url(/assets/images/bodygris.png)  repeat center center; 
  background-size: contain;
  background-attachment: fixed;
  /*min-height: 200px;*/
}

.formcontacto {
  padding-bottom: 80px;
}