<div id="contacto" class="p-0 background-contacto">
    <div class="container-fluid formcontacto">
        <div class="row">
            <div class="order-2 order-md-1 col-md-6 formulario">

                <h3 id="contacto" class="font-weight-bold">Escribinos</h3>


                <div style="background:white;">
                    <form method="post">
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" name="subject" class="form-control" placeholder="Nombre y Apellido"
                                    style="
    border-top: none;
    border-left: none; border-right: none;">
                            </div>
                            <div class=" input-group">
                                <input type="text" name="from" class="form-control" placeholder="Email" style="
   
    border-left: none">
                                <input type="text" class="form-control" placeholder="Telefono"
                                    style="border-left: none; border-right: none;">
                            </div>

                            <div class="input-group">
                                <textarea cols="10" rows="8" name="message" placeholder="Mensaje" class="form-control"
                                    style="border-left: none;border-right: none;"></textarea>
                            </div>
                            <a class="btn btn-block text-right">
                                Enviar
                            </a>
                        </div>
                    </form>
                </div>

            </div>
            <div class=" order-1 col-9 offset-3 offset-md-0 order-md-2 col-md-6">
                <img src="/assets/images/contacto.png" class="img-fluid w-100 imagen-contacto">
            </div>
        </div>

    </div>
</div>